<div class="container mb-3 mt-3">
    <h3>Stepcounter app</h3>
    <hr>

    <p class="mt-4">Regisztráld a napi lépéseidet és maradj motivált!</p>
    <a href="/steps" class="btn btn-dark me-1"><i class="bi bi-person-walking"></i>&nbsp;Lépések</a>
    <hr>

    <p class="mt-4">Kövesd napi, heti, és havi lépéseidet!</p>
    <a href="/steps/calendar" class="btn btn-dark me-1"><i class="bi bi-calendar-check-fill"></i>&nbsp;Naptár</a>
    <hr>

    <p class="mt-4">Lásd a fejlődésedet grafikusan!</p>
    <a href="/steps/statistics" class="btn btn-dark me-1"><i class="bi bi-bar-chart-fill"></i>&nbsp;Statisztika</a>
</div>