<div class="container">
    <h3>stepcounter app</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae cupiditate exercitationem pariatur itaque blanditiis quaerat modi voluptatibus quidem harum, voluptates, saepe nemo dicta ducimus id, magnam eaque eius quos ipsa!</p>
</div>