header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    padding: 20px;
}

.text-justify{
    text-align: justify;
}